<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section class="form-elegant">

    <!--Form without header-->
    <div class="card">

        <div class="card-body mx-4">

            <!--Header-->
            <div class="text-center">
                <!-- <h3 class="dark-grey-text mb-5"><strong>Login</strong></h3> -->
            </div>

            <!--Body-->
            <div class="md-form">
                <input type="text" id="Form-email1" class="form-control">
                <label for="Form-email1">User Name</label>
            </div>

            <div class="md-form pb-3">
                <input type="password" id="Form-pass1" class="form-control">
                <label for="Form-pass1">Password</label>
                <p class="font-small blue-text d-flex justify-content-end">Forgot <a href="#" class="blue-text ml-1"> Password?</a></p>
            </div>

            <div class="text-center mb-3">
                <button type="button" class="btn btn-deep-orange" navPush="RoombookingPage" navPush="RoombookingPage">Sign In</button>  
              <!-- <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign in</button> -->
            </div>
            

        </div>

        <!--Footer-->
        <div class="modal-footer mx-5 pt-3 mb-1">
            <p class="font-small grey-text d-flex justify-content-end">Not a member? <a class="blue-text ml-1" navPush="RegistrationPage"> Sign Up</a></p>
        </div>

    </div>
    <!--/Form without header-->

</section>
</ion-content>
