page-login {
    .form-elegant .font-small {
        font-size: 1.1rem; }
      
      .form-elegant .z-depth-1a {
        -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
        box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
      
      .form-elegant .z-depth-1-half,
      .form-elegant .btn:hover {
        -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
        box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

        .md-form label{font-size: 1.3rem!important;}
        .btn{font-size: 14px;}
        input[type=text]{font-size: 1.3rem}
        .content-md,.scroll-content{background: url(../assets/images/img_1218x864.png);
            background-position: center; position: fixed;}
            .card:not([class*=card-outline-]),.card{background: transparent; box-shadow: none; margin-top: 63%;}
            .modal-footer{border-top: none; margin:0 auto;}
            .blue-text,.grey-text{color: #fff!important;}
            input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea,input[type=text],{border-bottom:1px solid #fff;}
            .dark-grey-text{color: #fff!important;}
            .blue-text{color: #ff7043!important;}
            .md-form{margin-bottom: 1.8rem;}
            .form-control{color: #fff!important;}
            .md-form label{color: darkgray;}
            .header-md::after{background-image:none!important;}
}
