<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Room Booking</ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section class="form-elegant">

    <!--Form without header-->
    <div class="card">

      <div class="card-body mx-4">

                    
            <div class="text-center">
                <h3 class="dark-grey-text mb-5">Room Booking</h3>
            </div>
            <div class="md-form">
              <input  type="text" id="date-picker-example"
             
              datepicker
              class="form-control datepicker" >
              <label for="date-picker-example">From Date</label>
            </div>
            <div class="md-form">
              <input 
             
              type="text" id="date-picker-example1" class="form-control datepicker1" datepicker>
             
              <label for="date-picker-example1">To Date</label>
            </div>
      
     
        <select class="mdb-select">
          <option value="" disabled selected>Reference Type</option>
          <option value="1">Self</option>
          <option value="2">Referred By</option>
        </select>
        <select class="mdb-select">
          <option value="" disabled selected>Darshan Required?</option>
          <option value="1">Yes</option>
          <option value="2">No</option>
        </select>

        <!-- If it is YES -->

        <div class="md-form">
          <input  type="text"
          
        
          datepicker
          id="date-picker-example" class="form-control datepicker">
          <label for="date-picker-example">Darshan Date</label>
        </div>
        <select class="mdb-select">
          <option value="" disabled selected>Darshan Type</option>
          <option value="1">VIP Break</option>
          <option value="2">Kalyanam</option>
          <option value="2">Suprabatham</option>
        </select>


        <!-- Add Guest -->
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">Name</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Age</label>
        </div>

        <select class="mdb-select">
          <option value="" disabled selected>Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>

        </select>
        <select class="mdb-select">
          <option value="" disabled selected>ID Type</option>
          <option value="1">Pan</option>
          <option value="2">Aadhar</option>
        </select>





        <div class="text-center mb-3">
          <ion-row>
            <ion-col col-6>
              <button type="button" class="btn btn-deep-orange">Add Guest</button>
            </ion-col>
            <ion-col col-6>
              <button type="button" class="btn btn-deep-orange" >Confirm Booking</button>
            </ion-col>
          </ion-row>
         
          
          <!-- <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign Up</button> -->
        </div>


      </div>

      <!--Footer-->


    </div>
    <!--/Form without header-->

  </section>
</ion-content>