<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Registration</ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section class="form-elegant">

    <!--Form without header-->
    <div class="card">

        <div class="card-body mx-4">

            
            <div class="text-center">
                <h3 class="dark-grey-text mb-5">Sign Up</h3>
            </div>

            
            <div class="md-form">
                <input type="text" id="Form-email8" class="form-control">
                <label for="Form-email1">First Name</label>
            </div>
            <div class="md-form">
                <input type="text" id="Form-email7" class="form-control">
                <label for="Form-email1">Last Name</label>
            </div>
            <div class="md-form">
                <input type="text" id="Form-email6" class="form-control">
                <label for="Form-email1">User Name</label>
            </div>
            <div class="md-form">
                <input type="text" id="Form-email3" class="form-control">
                <label for="Form-email1">Password</label>
            </div>
            <div class="md-form">
                <input type="text" id="Form-email4" class="form-control">
                <label for="Form-email1">Confirm Password</label>
            </div>
            
            <select class="mdb-select">
              <option value="" disabled selected>Gender</option>
              <option value="1">Male</option>
              <option value="2">Female</option>
              
          </select>
            
            <div class="md-form">
                <input type="text" id="Form-email1" class="form-control">
                <label for="Form-email1">Email</label>
            </div>
            <div class="md-form">
                <input type="text" id="Form-email2" class="form-control">
                <label for="Form-email1">Mobile Number</label>
            </div>
            
            
            
            

            <div class="text-center mb-3">
              
                <button type="button" class="btn btn-deep-orange" navPush="RoombookingPage">Sign Up</button>
                <!-- <button type="button" class="btn blue-gradient btn-block btn-rounded z-depth-1a">Sign Up</button> -->
            </div>
            

        </div>

        <!--Footer-->
       

    </div>
    <!--/Form without header-->

</section>
</ion-content>
