<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!-- <ion-title>Darshan Booking</ion-title> -->
  </ion-navbar>
</ion-header>


<ion-content padding>
  <section class="form-elegant">


    <div class="card">

      <div class="card-body mx-4">
        <div class="text-center">
          <h3 class="dark-grey-text mb-5">
            Darshan Booking
          </h3>
        </div>

        <div class="md-form">
          <input  type="text" id="date-picker-example1" 
          class="form-control datepicker1" datepicker>

          <label for="date-picker-example1">Darshan Date</label>
        </div>


        <select class="mdb-select">
          <option value="" disabled selected>Reference Type</option>
          <option value="1">Self</option>
          <option value="2">Referred By</option>
        </select>

        <select class="mdb-select">
          <option value="" disabled selected>Darshan Type</option>
          <option value="1">VIP Break</option>
          <option value="2">Kalyanam</option>
          <option value="2">Suprabatham</option>
        </select>

        <h4>Employee Details:</h4>

        <!-- Add Guest -->
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">Name</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Designation</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Location</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Email</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Mobile Number</label>
        </div>

        <h4>Guest Details:</h4>
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">Name</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Email</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email7" class="form-control">
          <label for="Form-email1">Mobile Number</label>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="btn btn-deep-orange">Add Guest</button>
        </div>

        <h4>Guest Details:</h4>
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">Name</label>
        </div>
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">Age</label>
        </div>
        <select class="mdb-select">
          <option value="" disabled selected>Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
        </select>
        <select class="mdb-select">
          <option value="" disabled selected>ID Type</option>
          <option value="1">Pan</option>
          <option value="2">Aadhar</option>
        </select>
        <div class="md-form">
          <input type="text" id="Form-email8" class="form-control">
          <label for="Form-email1">ID Proof</label>
        </div>
        <div class="text-center mb-3">
          <button type="button" class="btn btn-deep-orange">Add</button>
        </div>

      </div>
    </div>
  </section>
</ion-content>