page-darshanbooking {
    .form-elegant .font-small {
        font-size: 1.1rem; }
      
      .form-elegant .z-depth-1a {
        -webkit-box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25);
        box-shadow: 0 2px 5px 0 rgba(55, 161, 255, 0.26), 0 4px 12px 0 rgba(121, 155, 254, 0.25); }
      
      .form-elegant .z-depth-1-half,
      .form-elegant .btn:hover {
        -webkit-box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15);
        box-shadow: 0 5px 11px 0 rgba(85, 182, 255, 0.28), 0 4px 15px 0 rgba(36, 133, 255, 0.15); }

        .md-form label{font-size: 1.3rem!important;}
        .btn{font-size: 14px;}
        input[type=text]{font-size: 1.3rem}
        .select-wrapper input.select-dropdown{font-size: 1.3rem}
        .select-wrapper span.caret{top: 7px;}
        .dropdown-content li>a, .dropdown-content li>span{font-size: 1.3rem}
        .content-md,.scroll-content{background: url(../assets/images/background_tax.png); background-position: center;}

        .card:not([class*=card-outline-]),.card{background: transparent; box-shadow: none;}
        .modal-footer{border-top: none;}
        .blue-text,.grey-text,.md-form label{color: #fff!important;}
        input[type=date], input[type=datetime-local], input[type=email], input[type=number], input[type=password], input[type=search-md], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], textarea.md-textarea,input[type=text],{border-bottom:1px solid #fff;}
        .dark-grey-text{color: #fff!important;}
        .blue-text{color: #ff7043!important;}
        .md-form{margin-bottom: 1.8rem;}
        .select-wrapper span.caret,.select-dropdown,.form-control{color: #fff!important;}
        .picker .picker__frame .picker__wrap{width: 95%; margin-top: 8%;}
        table td{font-size: 1.3rem;}
        .picker__box .picker__header .picker__date-display .picker__weekday-display{font-size: 1.3rem;}
        h4{color:#ff7043;}
        .scroll-content{margin-top: 38px!important;}
        .bar-button-default-md{color: #ff7043;}
        .header-md::after{background-image:none!important;}
}
